{
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react",
      "@babel/preset-flow",
      ["@babel/preset-stage-2", { "decoratorsLegacy": true }]
    ],
    "ignore": ["node_modules", "dist"],
    "plugins": ["transform-class-properties"]
  }